@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vidaloka&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol{
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {

    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--text-font-family);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}





.container{
    width: 96%;
    padding: 0px 15px;
    margin: auto;
}

/* TOP BAR MENU */

#top-bar{
    background-color: var(--top-menubar-bg);
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,.1);
    z-index: 1;
    position: sticky;
}

.logo{
    flex-basis: 228px;
    flex-grow: 1;
}

.logo img{
    width: 35%;
    height: 65px;
    margin: 8px auto 8px auto;
    display: block;
}




nav#top-manue-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .main-menu {
    flex-basis: 870px;
    flex-grow: 1;
    /* flex-shrink: 0; */
    }

    .ph-number {
    flex-basis: 220px;
    flex-grow: 1;
    }
;
}


.main-menu ul {
    display: flex;
    justify-content: right;
}

.main-menu ul li a {
    text-decoration: none;
    padding: 27px 27px;
    font-size: 18px;
    color: var(--primary-heading-color);
    font-weight: 500;
    display: block;
}

.main-menu ul li a:hover {
    color: #392e72;
}


.main-menu ul li {
    position: relative;
}

.main-menu ul li:first-child a::after {
    content: "";
    width: 49px;
    height: 2px;
    background-color: var(--primary-heading-color);
    display: block;
    visibility: hidden;
    position: absolute;
    top: 68px;
    transition: 0.5s;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    
}


.main-menu ul li:nth-child(2) a::after {

    content: "";
    width: 75px;
    height: 2px;
    background-color: var(--primary-heading-color);
    display: block;
    visibility: hidden;
    position: absolute;
    top: 68px;
    transition: 0.5s;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;

}

.main-menu ul li:nth-child(3) a::after {

    content: "";
    width: 36px;
    height: 2px;
    background-color: var(--primary-heading-color);
    display: block;
    visibility: hidden;
    position: absolute;
    top: 68px;
    transition: 0.5s;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;

}


.main-menu ul li:last-child a::after {

    content: "";
    width: 90px;
    height: 2px;
    background-color: var(--primary-heading-color);
    display: block;
    visibility: hidden;
    position: absolute;
    top: 68px;
    transition: 0.5s;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;

}

.main-menu ul li:first-child a:hover::after {
    transform: translateY(11px);
    visibility: visible;
}

.main-menu ul li:nth-child(2) a:hover::after {
    transform: translateY(11px);
    visibility: visible;
}

.main-menu ul li:nth-child(3) a:hover::after {
    transform: translateY(11px);
    visibility: visible;
}

.main-menu ul li:last-child a:hover::after {
    transform: translateY(11px);
    visibility: visible;
}

.ph-number div {
    display: block;
    padding: 27px;
}

.ph-number i {
    font-size: 17px;
}

.ph-number span {
    font-size: 18px;
    margin-left: 6px;
}



.menu-bar-icon{
    display: none;
}




/* first-section */

.content-box-wrapper {
    display: flex;
}

.content-first-box {
    flex-basis: 50%;
    background: #F2F7F8;
    
}

.content-senond-box {
    flex-basis: 50%;
    background-color: var(--body-bg-sec-color);
    
}


.content-box-stuff{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.content-box-stuff-wrapper {
    padding-top: 115px;
    margin-bottom: 28px;
}


.content-box-stuff-wrapper h5 {
    font-size: 15px;
    text-transform: uppercase;
    color: #384975;
    letter-spacing: 1px;
    font-family: "Karla",sans-serif;
    font-weight: 700;
}


.content-box-stuff-wrapper h1 {
    width: 480px;
    font-size: 47px;
    font-family: var(--heading-font-family);
    margin: 26px 0px;
    line-height: 60px;
    color: var(--primary-heading-color);
    font-weight: 600;
}


.content-box-stuff-wrapper p{
    font-size: var(--text-font-size);
    font-weight: var(--text-font-width-400);
    color: var(--primary-text-color);
    line-height: 31px;
    font-family: var(--text-font-family);
}


.content-box-btn{
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    z-index: 99;
}

.content-box-btn a{
    text-decoration: none;
    background-color: #183567;
    padding: 9px 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: var(--heading-font-family);
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.content-box-btn a:hover{
    background-color: #384975;
}


.ct-second-bx-stuff {
    width: 97%;
}



/* second section */

#second-section{
    background-color: #384975;
}

.op-btn-wrapper{
    display: flex;
}

.optimization-section{
    padding: 12px 0px;
    flex-basis: 60%;
}

.optimization-section h3{
    color: white;
    font-size: 28px;
}


.optimization-section span{
    color: #FFFFFF;
    font-family: var(--text-font-family);
    font-size: 19px;
    font-weight: 200;
}

.request-btn {
    flex-basis: 40%;
}

.request-btn {
    flex-basis: 40%;
    align-items: center;
    display: flex;
    justify-content: right;
}

button.reqbtn {
    padding: 9px 17px;
    background-color: #e0b326;
    border: none;
    cursor: pointer;
    font-family: var(--heading-font-family);
    color: #183567;
    font-size: 17px;
    border-radius: 4px;
    transition: 0.3s;
}

button.reqbtn:hover{
    background-color: white;
}

