
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"); @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Vidaloka&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"); *, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0px;
}

ul, ol {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizespeed;
    line-height: 1.5;
    font-family: var(--text-font-family);
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *, ::before, ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.container {
    width: 96%;
    padding: 0px 15px;
    margin: auto;
}

#top-bar {
    background-color: var(--top-menubar-bg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px 0px;
    z-index: 1;
    position: sticky;
}

.logo {
    flex-basis: 228px;
    flex-grow: 1;
}

.logo img {
    width: 35%;
    height: 65px;
    margin: 8px auto;
    display: block;
}

nav#top-manue-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & .main-menu {
        flex-basis: 870px;
        flex-grow: 1;
    }

    & .ph-number {
        flex-basis: 220px;
        flex-grow: 1;
    }
}

.main-menu ul {
    display: flex;
    justify-content: right;
}

.main-menu ul li a {
    text-decoration: none;
    padding: 27px;
    font-size: 18px;
    color: var(--primary-heading-color);
    font-weight: 500;
    display: block;
}

.main-menu ul li a:hover {
    color: rgb(57, 46, 114);
}

.main-menu ul li {
    position: relative;
}

.main-menu ul li:first-child a::after {
    content: "";
    width: 49px;
    height: 2px;
    background-color: var(--primary-heading-color);
    display: block;
    visibility: hidden;
    position: absolute;
    top: 68px;
    transition: all 0.2s ease-out 0s;
}

.main-menu ul li:nth-child(2) a::after {
    content: "";
    width: 75px;
    height: 2px;
    background-color: var(--primary-heading-color);
    display: block;
    visibility: hidden;
    position: absolute;
    top: 68px;
    transition: all 0.2s ease-out 0s;
}

.main-menu ul li:nth-child(3) a::after {
    content: "";
    width: 36px;
    height: 2px;
    background-color: var(--primary-heading-color);
    display: block;
    visibility: hidden;
    position: absolute;
    top: 68px;
    transition: all 0.2s ease-out 0s;
}

.main-menu ul li:last-child a::after {
    content: "";
    width: 90px;
    height: 2px;
    background-color: var(--primary-heading-color);
    display: block;
    visibility: hidden;
    position: absolute;
    top: 68px;
    transition: all 0.2s ease-out 0s;
}

.main-menu ul li:first-child a:hover::after {
    transform: translateY(11px);
    visibility: visible;
}

.main-menu ul li:nth-child(2) a:hover::after {
    transform: translateY(11px);
    visibility: visible;
}

.main-menu ul li:nth-child(3) a:hover::after {
    transform: translateY(11px);
    visibility: visible;
}

.main-menu ul li:last-child a:hover::after {
    transform: translateY(11px);
    visibility: visible;
}

.ph-number div {
    display: block;
    padding: 27px;
}

.ph-number i {
    font-size: 17px;
}

.ph-number span {
    font-size: 18px;
    margin-left: 6px;
}

.menu-bar-icon {
    display: none;
}

.content-box-wrapper {
    display: flex;
}

.content-first-box {
    flex-basis: 50%;
    background: rgb(242, 247, 248);
}

.content-senond-box {
    flex-basis: 50%;
    background-color: var(--body-bg-sec-color);
}

.content-box-stuff {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.content-box-stuff-wrapper {
    padding-top: 115px;
    margin-bottom: 28px;
}

.content-box-stuff-wrapper h5 {
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(56, 73, 117);
    letter-spacing: 1px;
    font-family: Karla, sans-serif;
    font-weight: 700;
}

.content-box-stuff-wrapper h1 {
    width: 480px;
    font-size: 47px;
    font-family: var(--heading-font-family);
    margin: 26px 0px;
    line-height: 60px;
    color: var(--primary-heading-color);
    font-weight: 600;
}

.content-box-stuff-wrapper p {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-width-400);
    color: var(--primary-text-color);
    line-height: 31px;
    font-family: var(--text-font-family);
}

.content-box-btn {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    z-index: 99;
}

.content-box-btn a {
    text-decoration: none;
    background-color: rgb(24, 53, 103);
    padding: 9px 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: var(--heading-font-family);
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.content-box-btn a:hover {
    background-color: rgb(56, 73, 117);
}

.ct-second-bx-stuff {
    width: 97%;
}

#second-section {
    background-color: rgb(56, 73, 117);
}

.op-btn-wrapper {
    display: flex;
}

.optimization-section {
    padding: 12px 0px;
    flex-basis: 60%;
}

.optimization-section h3 {
    color: white;
    font-size: 30px;
    font-family: var(--heading-font-family);
}

.optimization-section span {
    color: rgb(255, 255, 255);
    font-family: var(--text-font-family);
    font-size: 19px;
    font-weight: 200;
}

.request-btn {
    flex-basis: 40%;
}

.request-btn {
    flex-basis: 40%;
    align-items: center;
    display: flex;
    justify-content: right;
}

button.reqbtn {
    padding: 9px 17px;
    background-color: rgb(224, 179, 38);
    border: none;
    cursor: pointer;
    font-family: var(--heading-font-family);
    color: rgb(24, 53, 103);
    font-size: 17px;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}

button.reqbtn:hover {
    background-color: white;
}

#third-section {
    padding: 60px 0px;
}

.experienced-section {
    text-align: center;
    padding: 0px 70px 45px;
}

.experienced-section h3 {
    color: var(--primary-heading-color);
    font-size: 30px;
    font-family: var(--heading-font-family);
    margin-bottom: 25px;
}

.experienced-section p {
    font-size: var(--text-font-size);
    line-height: 31px;
    font-family: var(--text-font-family);
    font-weight: var(--text-font-width-400);
    color: var(--primary-text-color);
}

.experienced-lg img {
    width: 58px;
}

.experienced-h5 h5 {
    font-size: 18px;
    color: rgba(99, 115, 129, 0.5);
}

.experienced-lg {
    margin-bottom: 13px;
}

.experienced-title {
    margin-bottom: 5px;
}

.experienced-title h3 {
    font-size: 26px;
    font-family: var(--heading-font-family);
    color: var(--primary-heading-color);
}

.experienced-box-singel {
    width: 29%;
    text-align: justify;
}

.experienced-p p {
    font-size: 17px;
    line-height: 28px;
    color: var(--primary-text-color);
}

.experienced-box-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.experienced-section-main-box {
    padding-left: 111px;
    margin-top: 50px;
    padding-right: 44px;
}

.experienced-p {
    text-align: justify;
    margin: 10px 0px 35px;
}

.experienced-btn a {
    text-decoration: none;
    font-size: 14px;
    font-family: var(--text-font-family);
    color: var(--primary-heading-color);
    font-weight: 500;
    display: block;
    transition: all 0.3s ease 0s;
}

.experienced-btn a:hover {
    transform: translateY(-10px);
    cursor: default;
}

section#four-section {
    background-color: var(--body-bg-sec-color);
}

.number-box-wrapper {
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    justify-content: space-around;
}

.number-singel h5 {
    font-size: 59px;
    font-family: Robotos, ans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--primary-heading-color);
}

.number-singel span {
    font-size: 23px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    display: inline-block;
    color: var(--primary-text-color);
}

.about-me-wrapper {
    overflow: hidden;
    padding: 0px 39px;
    margin-bottom: 80px;
}

.about-me-img {
    float: left;
    width: 35%;
}

.about-me-content {
    float: right;
    width: 65%;
}

.about-me-img img {
    width: 76%;
    margin: auto;
    border-radius: 10px;
}

section#five-section {
    padding: 70px 0px;
}

.about-me-content p {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-width-400);
    font-family: var(--text-font-family);
    color: var(--primary-text-color);
    line-height: 31px;
}

.about-me-content p:first-child {
    margin-bottom: 20px;
}

.about-me-content-below {
    display: flex;
    column-gap: 60px;
}

.about-me-ct-first h2 {
    color: var(--primary-heading-color);
    font-size: 30px;
    font-family: var(--heading-font-family);
    margin-bottom: 25px;
}

.about-me-ct-first p {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-width-400);
    font-family: var(--text-font-family);
    color: var(--primary-text-color);
    line-height: 31px;
    margin-bottom: 25px;
}

.about-me-ct-first p:first-child {
    margin-bottom: 20px;
}

#about-me-ct-first-p-p {
    margin-bottom: 0px;
}

.first-viewall-services h4 {
    font-size: 30px;
    font-family: var(--heading-font-family);
    color: var(--primary-heading-color);
    width: 611px;
}

.first-viewall-services h5 {
    color: rgb(169, 181, 188);
    font-family: var(--text-font-family);
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

section#six-section {
    background-color: rgb(237, 241, 242);
}

.viewall-sevices-singel {
    display: flex;
    padding: 75px 0px;
}

.first-viewall-services {
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

.second-viewall-services {
    width: 50%;
    text-align: right;
    padding-right: 35px;
}

button#viewall-services-btn {
    padding: 19px 40px;
    font-family: var(--heading-font-family);
    font-size: 17px;
    cursor: pointer;
    margin: 29px 0px;
    background-color: var(--primary-heading-color);
    border-color: rgba(22, 32, 47, 0);
    outline: none;
    border-radius: 5px;
    color: white;
    transition: all 0.2s ease 0s;
}

button#viewall-services-btn:hover {
    background-color: rgb(39, 37, 37);
    transform: translateY(-7px);
}

.main-web-design-wrapper {
    display: flex;
    column-gap: 56px;
    padding: 85px 0px;
    justify-content: center;
    width: 100%;
}

.first-design-img {
    background-image: url("../img/entrepreneur-3850511_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 6px;
    width: 45%;
    height: 556px;
}

.web-design-content {
    width: 40%;
    align-self: center;
}

.web-design-content h5 {
    font-size: 21px;
    color: rgba(99, 115, 129, 0.5);
}

.web-design-content h3 {
    color: var(--primary-heading-color);
    font-size: 39px;
    font-family: var(--heading-font-family);
    width: 564px;
    margin-top: 17px;
    position: relative;
}

.web-design-cp p {
    font-size: 17px;
    font-weight: var(--text-font-width-400);
    font-family: var(--text-font-family);
    color: var(--primary-text-color);
    line-height: 31px;
    margin-bottom: 25px;
}

.web-design-cp p:last-child {
    margin-bottom: 0px;
}


.web-design-content h3::after{
    content: "";
    width: 77px;
    height: 3px;
    background-color: rgba(99,115,129,.34);
    display: block;
    position: absolute;
    top: 200px;
}


.web-design-cp {
    margin-top: 47px;
}


/* eight section */


.fst-services-box h2 {
    font-size: 47px;
    font-family: var(--heading-font-family);
    color: var(--primary-heading-color);
    font-weight: 600;
    text-align: center;
}

.fst-services-box p {
    font-size: var(--text-font-size);
    line-height: 31px;
    font-family: var(--text-font-family);
    font-weight: var(--text-font-width-400);
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 81px;
}

.fst-services-box {
    width: 100%;
}

.snd-services-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 60px;
}

.singel-sc-box {
    width: 29%;
    background-color: #FFFFFF;
    padding-top: 37px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 4px;
}

.singel-logo {
    width: 100%;
}

.singel-logo img {
    width: 42%;
    margin: auto;
}

.singel-title h3 {
    font-size: 26px;
    font-family: var(--heading-font-family);
    color: var(--primary-heading-color);
    text-align: center;
}

section#eight-section {
    background-color: rgb(237, 241, 242);
    padding: 70px 0px;
}

.singel-des p {
    color: var(--primary-text-color);
    text-align: center;
    font-family: var(--text-font-family);
    font-size: 18px;
}

.singel-title {
    margin: 11px 0px;
}



/* Nine Section */


.faq-box-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 80px 0px;
}

.faq-singel-box {
    flex-basis: 30%;
}

.faq-singel-sec-box {
    flex-basis: 55%;
    text-align: left;
    border: 2px solid rgba(99,115,129,.27);
    border-radius: 3px;
    background-color: rgba(255,255,255,0);
    padding: 30px 70px;
}


.faq-sg-heading h5 {
    font-size: 21px;
    color: rgba(99, 115, 129, 0.5);
    margin-bottom: 12px;
}

.faq-sg-title h2 {
    font-size: 47px;
    font-family: var(--heading-font-family);
    color: var(--primary-heading-color);
    font-weight: 600;
    position: relative;
}

.faq-sg-des p {
    font-size: var(--text-font-size);
    line-height: 31px;
    font-family: var(--text-font-family);
    font-weight: var(--text-font-width-400);
    color: var(--primary-text-color);
    margin-top: 45px;
}

.faq-sg-title h2:after{
    content: "";
    width: 56px;
    height: 3px;
    background-color: rgba(99, 115, 129, .34);
    display: block;
    position: absolute;
    top: 83px;
}

.faq-singel-sec-box h6 {
    font-size: 20px;
    font-family: var(--heading-font-family);
    color: var(--primary-heading-color);
    margin-bottom: 30px;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.faq-singel-sec-box h6:last-child{
    margin-bottom: 0px;
}

.faq-singel-sec-box i {
    padding-left: 46px;
}



/* Ten Section */


.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.footer-fst-box {
    flex-basis: 30%;
}

.footer-menu {
    flex-basis: 20%;
}

.footer-quick-link {
    flex-basis: 20%;
}

.footer-contact {
    flex-basis: 20%;
}

.footer-logo {
    width: 100%;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 22%;
}

.footer-des p {
    font-family: var(--text-font-family);
    font-weight: var(--text-font-width-400);
    color: rgba(255,255,255,.65);
    font-size: 17px;
    line-height: 30px;
}

.footer-social {
    width: 100%;
}

.footer-social ol {
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.footer-social ol li a {
    padding: 0px 12px;
    text-decoration: none;
}

.footer-social ol li {
    /* border: 1px solid #ddd; */
    padding: 5px 0px;
    background-color: #8eb0d9;
    outline: none;
    border-radius: 3px;
}

.footer-social ol li a i {
    color: var(--primary-heading-color);
}

section#ten-section {
    background-color: #1A3D6D;
}

.footer-social ol li:hover{
    background-color: white;
}

.footer-des {
    margin-bottom: 22px;
}


.footer-menu h2 {
    color: #fff;
    margin-bottom: 18px;
    font-family: var(--heading-font-family);
    font-size: 29px;
}

.singel-footer-menu ol li a {
    text-decoration: none;
    color: rgba(255,255,255,.65);
    font-size: 17px;
}

.singel-footer-menu ol li {
    margin-bottom: 10px;
}

.footer-quick-link h2 {
    color: #fff;
    margin-bottom: 18px;
    font-family: var(--heading-font-family);
    font-size: 29px;
}

.footer-contact h2 {
    color: #fff;
    margin-bottom: 18px;
    font-family: var(--heading-font-family);
    font-size: 29px;
}

.singel-footer-menu ol li {
    text-decoration: none;
    color: rgba(255, 255, 255, .65);
    font-size: 17px;
}

.singel-footer-menu ol li:last-child{
    margin-bottom: 0px;
}